<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

</head>
<body>

    <header th:fragment="header">
        <nav class="nav navbar navbar-dark rounded" style="background-color: rgb(14,12,13)">
            <a th:href="@{/}" class="navbar-brand mb-0 text-white d-flex">
                <img class="align-center me-3"
                     th:src="@{img/logo.jpeg}" width="50"
                     height="50">
                <h2 class="d-flex flex-column justify-content-center">Discography</h2>
            </a>

            <ul class="nav">
                <li class="nav-item active">
                    <a th:href="@{/add-new.html}" class="nav-link text-white">Submit a request</a>
                </li>
            </ul>
        </nav>

        <search class="search mt-3 mb-5 d-flex justify-content-end" id="searchButton">
            <label class="align-content-center pe-2">Search:
                <input name="keyword" type="text" placeholder="keyword">
            </label>
            <button type="button" id="search-button" class="btn btn-primary" data-bs-target="#search" data-bs-toggle="modal">Search</button>
        </search>
    </header>


    <footer th:fragment="footer" class="d-flex fixed-bottom justify-content-end me-5">
        <div>Copyright 2024 by Navid Rahbar</div>
    </footer>
</body>
</html>