body{
    background-color: #eeeeee;
}

.navbar-brand {
    display: inline-flex;
    align-items: center;
}

img {
    margin: 0;
}

.search {
    margin-bottom: 5px;
}

.bg-primary {
    background-color: rgba(41, 66, 94, 0.45) !important;
}